.cards {
  &__item {
    height: 100%;
    border-radius: 0;
    background-color: $color-black;
    display: flex;
    flex-direction: column;
  }
  &__img {
    img {
      object-fit: cover;
      border-radius: 0;
    }
  }

  &__body {
    padding: 30px;
    flex: 1;

    @include down-md {
      padding: 20px;
    }
  }
  &__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    h4 {
      font-weight: 600;
    }
  }

  // &__author {
  //   display: flex;
  //   align-items: center;
  //   column-gap: 16px;
  //   margin-top: 24px;

  //   img {
  //     display: block;
  //     border-radius: 0;
  //     max-width: 48px;
  //     height: 48px;
  //     object-fit: cover;
  //   }

  //   h6 {
  //     font-size: var(--fs-14);
  //     margin-bottom: 0 !important;
  //   }

  //   p {
  //     font-size: var(--fs-14);
  //   }
  // }
}
